{% extends 'base.html' %}

{% block title %}
<title>Usuarios</title>
{% endblock %}

{% block content %}
    <h1>Usuarios</h1>
    <hr>

    <a href="{{ url_for('users_add') }}" class="btn btn-info">Agregar usuario</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Content</th>
          <th scope="col">Created at</th>
          <th scope="col">Opciones</th>

        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name|title }}</td>
          <td>{{ user.age }}</td>
          {% if user.content %}
          <td>{{ user.content|safe }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
          <td>{{ user.created_at.strftime("%Y-%m-%d %I:%M") }}</td>
          <td>
            <a href="{{ url_for('users_by_id', id=user.id)}}" class="btn btn-primary">Detalle</a>
            <a href="{{ url_for('users_delete_by_id', id=user.id)}}" class="btn btn-danger">Eliminar</a>
            <a href="{{ url_for('messages_by_user', user_id=user.id)}}" class="btn btn-primary">Ver mensajes</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>    
    </table>

    

{% endblock %}
